PORT=3000
MONGODB_URI=mongodb://localhost:27017/tienda-telecom-seguridad
JWT_ACCESS_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_access
JWT_REFRESH_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
